.Educacion_container{display: grid;  height: 80vh; max-width: 60%; grid-template-columns: 1fr 0.4fr 1fr; grid-template-rows: repeat(4, 1fr); margin: 0 auto; 
    background-image: url("https://firebasestorage.googleapis.com/v0/b/portafolio-3302a.appspot.com/o/Educacion%2FLinea.svg?alt=media&token=36af0ccf-5d5f-411c-a9ef-f04ca3ccbc39"); 
    background-repeat: no-repeat; background-position: center; background-size: contain; align-items: center; justify-items: center; gap: 5% 5%;}

.TextoEducacion{ color: #121212;  font-size: var(--normal-font-size); }

.iconoE{ max-width: 35%; }

.imgizquierda{ display: flex; justify-content: start; width: 100%;}

.texto{text-align: right; justify-content: end;} 

.SubtituloTextosEducación { color: #888; font-size: var(--normal-font-size); font-weight: 400;}

.contenedorEducacionResponsivo{ display: none;}

@media screen and (min-width: 2500px){ .Educacion_container{ height: 55vh;} .TextoEducacion{ font-size: 23px; }}

@media screen and (min-width: 3200px){  .TextoEducacion{ font-size: 27px; } }

/* * Escritorios más pequeños */
@media screen and (max-width: 1900px){  .imgizquierda img{ width: 20%;} .ipn{ max-width: 16%;} }

@media screen and (max-width: 1440px){ .Educacion_container{height: 65vh;} }

/* ? Tablets */
@media screen and (max-width: 1024px) { .Educacion_container{max-width: 95%; height: 50vh;} .ing-ux, .front-tec{gap: 20%; margin-top: 50px;} 

.skills{display: flex; flex-direction: column;} .c1{order: 1} .c2{order: 3; } .c3{order: 2; margin-top: -13%;} }

@media screen and (max-width: 768px){  .ing-ux,.front-tec{gap: 18%;}}

/* * Telefonos */

@media screen and (max-width: 480px){ .Educacion_container{display: none;}  .contenedorEducacionResponsivo{display: block;}
.Ing-Resp img, .Front-Resp img, .UX-Resp img, .Tec-Resp img { width: 50px; height: 50px; margin: 0 auto 15px;}
.Ing-Resp, .Front-Resp, .UX-Resp, .Tec-Resp { display: flex; flex-direction: column; align-items: center; margin: 20px auto 30px;} .c3{ margin-top: -20%;}
}