.M1{
    width: 75%;
    height: 600px;
    border-radius: 30px;
    background-color: #FFD9C0;
    margin: 0 auto;
}

.M2{
    width: 75%;
    height: 600px;
    border-radius: 30px;
    background-color: #EF6262;
    margin: 0 auto;
    background-size: cover;
}

.M3{
    width: 75%;
    height: 600px;
    border-radius: 30px;
    background-color: #CEE5D0;
    margin: 0 auto;
}

.M4{
    width: 75%;
    height: 600px;
    border-radius: 30px;
    background-color: #FBEEAC;
    margin: 0 auto;
    background-size: cover;
}

.M5{
    width: 75%;
    height: 600px;
    border-radius: 30px;
    background-color: #EEEEEE;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.M6{
    width: 75%;
    height: 600px;
    border-radius: 30px;
    background-color: #FFD1DA;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.M7{
    width: 75%;
    height: 600px;
    border-radius: 30px;
    background-color: #FF8989;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


@media screen and (max-width: 600px) {
    .M1{
        width: 100%;
        height: 35%;
        background-size: cover;
        background-position: center;
    }
    .M2{
        width: 100%;
        height: 35%;
        background-position: center;
    }

    .M3{
        width: 100%;
        height: 35%;
        background-size: cover;
        background-position: center;
    }
    .M4{
        width: 100%;
        height: 35%;
        background-position: center;
    }
    .M5{
        width: 100%;
        height: 35%;
        background-position: center;
    }

    .M6{
        width: 100%;
        height: 35%;
        background-position: center;
    }

    .M7{
        width: 100%;
        height: 35%;
        background-position: center;
    }
}