
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
html{
    scroll-behavior: smooth;
}
button{
    cursor: pointer;
}
/* Cursor personalizado */
.cursor{
    
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1001;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursorText{
font-family: var(--poppins);
}


/* Variables */
:root{
--center: 20px auto;
--header-height: 9.6rem;

--hue: 0;
--sat: 0%;
--darkMode: #121212;
--lightMode: #F9F5F6;

/* Tamaños */
--big-font-size: 3.5rem;
--h1-font-size: 2rem;
--h2-font-size: 1.5rem;
--h3-font-size: 1.25rem;
--normal-font-size: 1rem;
--small-font-size: 0.875rem;
--smaller-font-size: 0.813rem;
--tiny-font-size: 0.625rem;

/* Fuentes tamaños */
--normal: 300;
--font-medium: 500;
--font-semi-bold: 600;

/* Margenes Bottom */
--mb-0-25: 0.25rem;
--mb-0-5: 0.5rem;
--mb-0-75: 0.75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;
--mb-3: 3rem;


/* z index */
--z-tooltip:10;
--z-fixed:100;
--z-modal:1000;

/* tipografia */

--poppins: 'Poppins', sans-serif;
}

 /* * Estilo del temporizador */
 .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

  

.section{
    padding: 2rem 0 0;
}

.seccion_subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 4rem;

}

/* ! Titulos de las secciónes */
.Titulo_trabajo{
color: #121212;
margin-left: 8%;
padding-top: 85px;
text-shadow: 12px 14px 40px 10px rgba(5, 13, 29, 0.50);
font-family: Poppins;
font-size: var(--big-font-size);
font-style: normal;
font-weight: 400;
line-height: normal;
}
/* ! Titulos de las secciones */

/* ? Sub-titulos de las secciones */
.subtitulo{
color: #787878;
font-family: var(--poppins);
font-size: var(--h2-font-size);
font-weight: 400;
padding: 20px 0;
text-align: center;
}
/* ? Sub-titulos de las secciones */
    
span,
p,
h3{
    font-family: var(--poppins); 
}


.container{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.button{
    display: inline-block;
    background-color: aqua;
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
}

/* hover */


.button_icon{
    margin-left: var(--mb-0-5);
}

.button-flex{
    display: inline-flex;
    align-items: center;
    
}

/* * Tipografia responsiva */
@media screen and (min-width: 2500px){ 
    :root{
        --big-font-size: 7rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 2.5rem;
        --h3-font-size: 1.54rem;
        --normal-font-size: 1.2rem;
        --small-font-size: 0.938rem;
        --smaller-font-size: 0.875rem;
    }

}

@media screen and (max-width: 1660px){ .cursor{ display: none; }

    :root{
        --big-font-size: 3.5rem;
        --h1-font-size: 1.35rem;
        --h2-font-size: 1.2rem;
        --h3-font-size: 1.05rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
    @media screen and (max-width: 480px){
        :root{
            --big-font-size: 2.6rem;
            --h1-font-size: 1.8rem;
            --h2-font-size: 1.15rem;
            --h3-font-size: 0.95rem;
        } 
    }
/* Base */
}

/* ! Puntos de quiebre */

/* ! Pantallas grandes */

@media screen and (min-width: 2500px){ }

@media screen and (min-width: 3200px){ }

/* ! Pantallas grandes */

/* * Laptop pequeña */
@media screen and (max-width: 1024px){ }

/* ? Tablet grande*/
@media screen and (max-width: 960px){ } 

/* * Tablet pequeña*/
@media screen and (max-width: 768px){ }

/* ? Movil */
@media screen and (max-width: 480px){ 
.Titulo_trabajo{ padding-top: 5px; }
.Acerca_de{ padding-top: 85px; }
}
/* * Movil pequeño*/
@media screen and (max-width: 375px){  }


/* * Animaciones del texto */
.marquee {
    position: relative;
    overflow: hidden;
  }
  
  .marquee.animate .marquee__inner {
    animation-play-state: running;
  }
  
  .marquee .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(-25%, 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
  }
  
  @media (min-width: 1920px) {
    .marquee .marquee__inner {
      transform: translate3d(calc(-25% + 10vw), 0, 0);
      animation: marquee-lg 5s linear infinite;
      animation-play-state: paused;
    }
  }
  
  .marquee .row-title {
    padding: 0 8vw;
  }
  
  @media (min-width: 1920px) {
    .marquee .row-title {
      padding: 0 10vw;
    }
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(-25%, 0, 0);
    }
  
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
  
  @keyframes marquee-lg {
    0% {
      transform: translate3d(calc(-25% + 10vw), 0, 0);
    }
  
    100% {
      transform: translate3d(calc(-50% + 10vw), 0, 0);
    }
  }
  
/* * Animaciones del texto */

/* ? Letras y estilos del texto */
  .banner { z-index: 100; position: relative;}
  
  .banner .banner-row { overflow: hidden; display: flex; align-items: center; }
  
  .banner .banner-row.center, .bottom {
    justify-content: space-around; 
  }

  .banner .banner-row .row-title,
  .banner .banner-row .row-letter {
    font-size: 9.575vw;
    font-family: var(--poppins);
    font-weight: 600;
    letter-spacing: -1.183rem;
    /* display: inline-block; */
    white-space: nowrap;
    display: flex;
    position: relative;
  }

  .banner .banner-row .row-col {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0 5%;
  }

  .banner .banner-row .row-col .row-message {
    font-weight: 300;
    color: #121212;
    font-size: 1.2541666666666667vw;
    width: 100%;
    line-height: 35.425px;
  }
  
  .banner .banner-row .row-col.top .row-title, .banner .banner-row .row-col.top .row-letter { font-weight: 400; }
  .banner .banner-row .row-col.bottom .row-title, .banner .banner-row .row-col.bottom .row-letter { font-weight: 400; margin-bottom: 30px;}
  


  .HomeDesktop{margin-top: 1%;}

  .row-img{width: 50%;}
  .HomeMobile{
    display: none;
  }

  @media (max-width: 1550px) {
    .banner .banner-row .row-title,
  .banner .banner-row .row-letter { font-size: 9rem;}
    .banner .banner-row .row-col {
        width: 70%;
      }
   
  }

  @media (max-width: 1440px) {
    .banner .banner-row .row-title,
  .banner .banner-row .row-letter { font-size: 10rem;}
    .banner .banner-row .row-col {
        width: 70%;
      }
  }
  
   
  @media (max-width: 1280px) {
    
    .banner .banner-row .row-title,
    .banner .banner-row .row-letter {
      font-size: 9.575vw;
    }

  }
  @media (max-width: 1024px) {
    .banner .banner-row .row-title,
    .banner .banner-row .row-letter { font-size: 8rem;}

    .HomeDesktop{display: none; }
      .HomeMobile{ display: block;}

      .textox{font-size: 20rem; background-color: antiquewhite;}
      .banner .banner-row .row-col.texto .row-letter{ font-size: 11rem; text-align: end; }
      .banner  .banner-row.center .row-letter{ font-size: 8.5rem;}

      .banner .banner-row .row-col {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 0 ;
      }
    }

      @media (max-width: 770px) {
       
    .HomeDesktop{
      display: none;
    }
    .row-message {
      display: none;
    }
    .HomeMobile{
      display: block;
      transform: translateY(25%);
      z-index: 0;
    }
    
    .banner .banner-row .row-title,
    .banner .banner-row .row-letter {
      font-size: 6rem;
      font-weight: 600;
    
    }

  .banner .banner-row .row-title, .banner .banner-row .row-letter{ letter-spacing: -0.4rem;  }

  .banner .banner-row .row-letter { font-size: 19.673151750972762vw} 
  
  .banner .banner-row .row-col.top .row-title, .banner .banner-row .row-col.top .row-letter { font-weight: 300; font-size: 17vw; }
  .banner .banner-row .row-col.top .row-title, .banner .banner-row .row-col.top {justify-content: start; margin-left: 3%; display: flex; }

  .banner .banner-row .row-col.bottom .row-title, .banner .banner-row .row-col.bottom .row-letter { font-weight: 300;  font-size: 17vw; margin: 0;}
  .banner .banner-row .row-col.bottom .row-title, .banner .banner-row .row-col.bottom {display: flex;  justify-content: end; margin-right: 3%;}
    .row-img{display: none;}
  }

@media screen and (max-width: 390px){  .HomeMobile{
  display: block;
  transform: translateY(15%);
  z-index: 0;
}}

@media screen and (min-width: 2500px){ 
    .banner .banner-row .row-title,
    .banner .banner-row .row-letter {font-size: 20rem;}}

    @media screen and (min-width: 3200px){
        .banner .banner-row .row-title,
        .banner .banner-row .row-letter {font-size: 25.5rem;}
       }
  
  
 

  