*{ margin: 0; padding: 0;}

body{ transition: 1.2s; box-sizing: border-box;}

.imagenFlechaMovil{ display: none;}

/* ! Pantallas grandes */

@media screen and (min-width: 2500px){h1{ font-size: 19rem; line-height: 28rem; margin: 100px auto;} .lista-home{ font-size: 1.8rem; max-width: 70%;} .LayoutTag{ padding: 20px;}}

@media screen and (min-width: 3400px){ h1{ font-size: 25rem; line-height: 30rem; margin: 250px auto;} .lista-home{max-width: 60%; font-size: 2rem;}}

/* ! Pantallas grandes */

@media screen and (max-width: 1660px){ h1{ font-size: 9.5rem; line-height: 13rem; margin: 10px auto;} .lista-home{ margin: 0 auto; width: 85%;} .LayoutTag{font-size: 0.9rem;} }

@media screen and (max-width: 1440px){ .lista-home{ margin: 60px auto 0; } }

@media screen and (max-width: 1366px){ h1{ font-size: 7.5rem; line-height: 9rem; } .lista-home{ margin: 0 auto 30px;} .logos{max-width: 20%;}}

@media screen and (max-width: 1280px){ .lista-home{ margin: 30px auto;} .logos{max-width: 22%;}}
/* * Laptop pequeña */
@media screen and (max-width: 1024px){
  .Home{ min-height: 90vh; background-position: center;}

  h1{ font-size: 8.5rem; line-height: 11rem; }

  h1 span{ font-size: 5.5rem;}

  .salto { display: block; margin-top: 1rem; }

  .lista-home{ flex-direction: column; margin: 50px auto 10px; width: 70%;}

  .contenedorLogoTexto{ flex-direction: row-reverse; justify-content: start;}
 }

/* * Estilos de Tablet pequeña*/
@media screen and (max-width: 768px){
  .lista-home{ margin: 20px auto;}

  .Home{ height: 100vh;}

  h1{  font-size: 7rem; line-height: 8rem; margin: 0 auto;}
}

/* ? Estilos de movil */
@media screen and (max-width: 480px){ 

  .imagenFlechaMovil{ display: block; max-width: 30%; bottom: 16px; position: absolute; left: 50%; transform: translateX(-50%);} 

  .Home{ display: flex; flex-direction: column; position: relative;}
  
  h1{ font-size: 5rem; line-height: 5.5rem; margin: 0 auto;}

  h1 span{ font-size: 4rem;  line-height: 1rem;}
  
  .lista-home  {margin: 15px auto; width: 95%; gap: 30px; } 

  .LayoutTag{font-size: 0.8rem;}

  .logos{max-width: 18%;}

  
}

/* * Estilos de movil pequeño*/
@media screen and (max-width: 390px){ 
  h1{ font-size: 4.6rem; line-height: 6rem; }
  
  .lista-home{ gap: 20px;}
}