/* Posicion del Card que se aparece !!!!!!! */
.card-activa{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    /* !!!!!!!!!!!!!! */
    opacity: 0;
    visibility: hidden;
    /* !!!!!!!!!!!!!! */
    transition: 0.4s;
}

/* Color y dimensiones del card*/
.cardActiva-content{
    width: 90%;
    position: relative;
    background-color: #f9f9f9;
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.4rem;
    overflow-y: auto;
    height: 80vh;
}

/* Posicion del boton de cerrar */
.services__modal-closed{
    position: fixed;
    top: 3rem;
    right: 5rem;
    font-size: 2rem;
    z-index: var(--z-modal);
    cursor: pointer;
    border-radius: 5px;
}


.active-card{
    /* !!!!!!!!!!!!!! */
   opacity: 1;
   visibility: visible;        
    /* !!!!!!!!!!!!!! */
  
}

@media screen and (max-width: 600px) {
    .services__modal-closed{
        position: fixed;
        top: 3rem;
        right: 1.5rem;
    }
    .cardActiva-content{
        width: 90%;
        position: relative;
        background-color: #f9f9f9;
        padding: 4.5rem 1.1rem 2rem;
        border-radius: 1.4rem;
        overflow-y: auto;
        height: 80vh;
    }
}