/* Posicion del Card que se aparece !!!!!!! */


/* Color y dimensiones del card*/
.cardActiva-content{
    width: 100%;
    position: relative;
    background-color: #f9f9f9;
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.4rem;
    overflow-y: auto;
    height: 85vh;
    box-sizing: border-box;
}

/* Posicion del boton de cerrar */
.services__modal-closed{
    position: fixed;
    top: 3rem;
    right: 5rem;
    font-size: 2rem;
    z-index: var(--z-modal);
    cursor: pointer;
    border-radius: 5px;
}


@media screen and (max-width: 600px) {
    .services__modal-closed{
        position: fixed;
        top: 3rem;
        right: 1.5rem;
    }
    .cardActiva-content{
        width: 100%;
        position: relative;
        background-color: #f9f9f9;
        padding: 4.5rem 1.1rem 2rem;
        border-radius: 1.4rem;
        overflow-y: auto;
        height: 80vh;
    }
}