.Titulo-trabajo{
    font-family: var(--poppins);
    font-size: var(--h1-font-size);
    font-weight: 500;
    color: #121212;
    width: 90%;
    margin: 20px auto;
}

.center{
    text-align: center;
}   

.Sub{
    font-size: var(--h3-font-size);
    font-weight: 300;
    color: #121212;
    margin: 20px 30px;
}

.derecha{ width: 50%;}

@media screen and (min-width: 2500px){ .Titulo-trabajo{font-size: 3.3rem;} .Sub{ font-size: 2rem;}}

@media screen and (max-width: 1440px){ .Sub{ font-size: var(--h3-font-size); } }

@media screen and (max-width: 768px){ .Sub{ font-size: var(--normal-font-size); } .progra{ display: none;} .derecha{display: none;}}

@media screen and (max-width: 490px){ .Sub2{ display: none;} .Titulo-trabajo{ font-size: 1.5rem;} .Sub{ font-size: 1rem;} .proyectos-ux .Sub{ width: 60%; margin: 0 15px;}}


